version: 2.1

orbs:
  architect: giantswarm/architect@6.13.0

workflows:
  test:
    jobs:
      - architect/validate-changelog:
          context: architect
          name: validate-changelog
          filters:
            tags:
              only: /^v.*/
